In [220]:
import pandas as pd
import numpy as np
import datetime

superstore = '../data/superstore.xls'

df = pd.read_excel(superstore)

df.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [222]:
today = np.datetime64('today')
#column 1
df2 = df.groupby('Customer ID')['Sales','Profit'].sum() 

#column 2, need help - need first purchase, groupby customer id and find sort by earliest order date
time_frame = (df.groupby('Customer ID')['Order Date'].min()).to_frame()
df2 = df2.merge(time_frame, on='Customer ID', how='left')
df2['Time As Customer'] = today - df2['Order Date']

#coulmn 3
df2['Total Order Count'] = df.groupby('Customer ID')['Sales'].count()

#column 4 create cohor
df2['Cohort'] = np.where(pd.DatetimeIndex(df2['Order Date']).month >=7,2,1)

#column 5
df2['Repeat Customer'] = df2['Total Order Count'] > 1

#column 6
df['Segment'].unique()
df['Consumer'] = df['Segment'] == 'Consumer'
df['Home Office'] = df['Segment'] == 'Home Office'
df['Corporate'] = df['Segment'] == 'Corporate'
cust_type = df.groupby('Customer ID')['Consumer','Home Office','Corporate'].sum().idxmax(axis=1).to_frame() #is a way to find total sales per type for each customer
df2 = df2.merge(cust_type, on='Customer ID', how='left')
df2['Customer ID2'] = df2.index
#column 7 3 months later
df2['3 Months Later'] = df2['Order Date'] + np.timedelta64(3,'M')
#col 8 needs col 2
df2['1 Year Later'] = df2['Order Date'] + np.timedelta64(1,'Y')

#how do i avoid re-making the columnms below?
year_later = df2['1 Year Later'].to_frame()
three_months_later = df2['3 Months Later'].to_frame()
df = df.merge(three_months_later, on='Customer ID',how='left')
df = df.merge(year_later, on='Customer ID', how = 'left')

#col 9 - make a column in df that shows 90 days after the first purchase, if the count of purchases is > 1 for all purchases within 90 days, show those customers
df['purchase within 90 days'] = df['Order Date'] < df['3 Months Later'] # this isnt correct
#col 10 - remove all dates greater than 1 year, count purchases inside that

#col 11 filter for all dates after 1 year, sum sales

In [223]:
df2['First Order'] = df2['Order Date']
first_order = df2['First Order'].to_frame()
first_order

            First Order
Customer ID
AA-10315     2014-03-31
AA-10375     2014-04-21
AA-10480     2014-05-04
AA-10645     2014-06-22
AB-10015     2014-02-18
AB-10060     2015-09-18
AB-10105     2014-12-20
AB-10150     2014-03-05
AB-10165     2014-11-16
AB-10255     2014-07-22
AB-10600     2014-11-18
AC-10420     2014-07-12
AC-10450     2014-10-31
AC-10615     2015-09-15
AC-10660     2014-10-15
AD-10180     2014-11-19
AF-10870     2015-12-06
AF-10885     2014-05-10
AG-10270     2014-05-13
AG-10300     2014-04-26
AG-10330     2016-08-03
AG-10390     2014-04-19
AG-10495     2015-01-04
AG-10525     2014-08-09
AG-10675     2015-05-07
AG-10765     2014-09-17
AG-10900     2014-07-23
AH-10030     2014-04-22
AH-10075     2014-11-16
AH-10120     2014-07-18
...                 ...
TS-21340     2014-01-19
TS-21370     2014-10-28
TS-21430     2014-07-30
TS-21505     2014-12-20
TS-21610     2014-08-16
TS-21655     2015-02-06
TT-21070     2014-05-18
TT-21220     2014-09-23
TT-21265     2015-08-15
TT-21460     2015-12-08
TW-21025     2014-12-22
TZ-21580     2014-11-11
VB-21745     2015-07-17
VD-21670     2014-08-04
VF-21715     2014-03-01
VG-21790     2014-08-08
VG-21805     2014-09-22
VM-21685     2014-04-07
VM-21835     2014-03-22
VP-21730     2015-07-05
VP-21760     2014-09-06
VS-21820     2014-01-07
VT-21700     2014-06-06
VW-21775     2014-05-11
WB-21850     2014-11-04
XP-21865     2014-01-20
YC-21895     2014-11-17
YS-21880     2015-01-12
ZC-21910     2014-10-13
ZD-21925     2014-08-27

[793 rows x 1 columns]

In [224]:
df = df.merge(first_order,on='Customer ID',how='left')
excluding_first = df[~(df['Order Date'] == df['First Order'])]

In [234]:
made_purchase_within_90d = excluding_first.groupby('Customer ID')['purchase within 90 days'].sum() >0
made_purchase_within_90d = made_purchase_within_90d.to_frame()

In [235]:
df2 = df2.merge(made_purchase_within_90d, on='Customer ID',how='left') #make column 9

In [242]:
orders_in_first_year = df[df['Order Date'] < df['1 Year Later']].groupby('Customer ID')['Order ID'].count().to_frame()
df2 = df2.merge(orders_in_first_year, on= 'Customer ID',how='left') #make column 10

In [245]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Consumer',
       'Home Office', 'Corporate', '3 Months Later', '1 Year Later',
       'purchase within 90 days', 'First Order'],
      dtype='object')

In [247]:
sum_of_first_year = df[df['Order Date'] < df['1 Year Later']].groupby('Customer ID')['Sales'].sum().to_frame()
df2 = df2.merge(sum_of_first_year,on='Customer ID',how='left') #column 11, named sales_y

In [284]:
#question 1
df.groupby('Segment')['purchase within 90 days'].mean()

Segment
Consumer       0.211905
Corporate      0.203311
Home Office    0.197420
Name: purchase within 90 days, dtype: float64

In [285]:
sales_for_cust_within_90d = df2[df2['purchase within 90 days'] == True]
sales_for_cust_without_90d = df2[df2['purchase within 90 days'] == False]
print(sales_for_cust_within_90d.mean() , sales_for_cust_without_90d.mean())
#sales_for_cust_within_90d.groupby('Segment')['Sales'].mean() - sales_for_cust_without_90d.groupby('Segment')['Sales'].mean()

Sales_x                                      3444.92
Profit                                        504.74
Time As Customer           1803 days 11:04:36.923076
Total Order Count                            14.8022
Cohort                                       1.58791
Repeat Customer                                    1
purchase within 90 days                            1
Order ID                                     6.33516
Sales_y                                      1537.32
dtype: object Sales_x                                      2779.73
Profit                                       323.484
Time As Customer           1839 days 12:54:05.409015
Total Order Count                            12.1419
Cohort                                        1.4808
Repeat Customer                                    1
purchase within 90 days                            0
Order ID                                     4.10351
Sales_y                                      976.084
dtype: object

In [287]:
df.groupby('Segment')['Sales'].mean()

Segment
Consumer       223.733644
Corporate      233.823300
Home Office    240.972041
Name: Sales, dtype: float64